:root {
	--ehc-button-background-color: #000;
	--ehc-button-color: #fff;
	--ehc-button-font-size: 16px;
	--ehc-button-font-weight: 500;
	--ehc-button-line-height: 18px;
	--ehc-button-text-transform: capitalize;
	--ehc-button-background-color-hover: #000;
	--ehc-button-color-hover: #fff;
	--ehc-button-border-color: #000;
	--ehc-button-border-width: 0;
	--ehc-button-text-decoration: none;

	--ehc-button-border-radius-default: 8px;
	--ehc-button-border-radius-sharp: 0;
	--ehc-button-border-radius-rounded: 12px;
	--ehc-button-border-radius-round: 32px;
	--ehc-button-border-radius-oval: 50%;
	--ehc-button-border-top-left-radius: 0;
	--ehc-button-border-top-right-radius: 0;
	--ehc-button-border-bottom-left-radius: 0;
	--ehc-button-border-bottom-right-radius: 0;

	--ehc-padding-inline-start: 24px;
	--ehc-padding-inline-end: 24px;
	--ehc-padding-block-start: 12px;
	--ehc-padding-block-end: 12px;

	--ehc-price-color: #000;

	--ehc-sale-color: #fff;
	--ehc-sale-background-color: #000;
}
