$color-grey-50: #FBFBFB;
$color-grey-100: #E7E7E7;
$color-grey-200: #ADADAD;

$color-black: #000;
$color-white: #fff;
$color-red: #FF0000;

$color-error: #B81C23;
$color-success: #8FAE1B;
$color-info: #3F84B9;
