/**
 * Error 404 page
 */

@use "../reset/variables" as variables;

.error404 {

  .site-main {
    text-align: center;
    margin-top: 5%;
    padding: 60px;
  }

  .entry-title {
    font-size: variables.$h2-font-size;
    font-weight: bold;
  }

  .search-form {
    max-width: 270px;
    margin: 0 auto;
  }
}
